body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; /* or use margin: 0 auto; for centering */
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0%, 10% {
        background-image: url(https://res.cloudinary.com/dn0jgzymu/image/upload/v1710596588/Dragon%20Repeller%20%20game/Control-V_12_fgqm7m.png);
    }
    30% {
        background-image: url(https://res.cloudinary.com/dn0jgzymu/image/upload/v1710596586/Dragon%20Repeller%20%20game/Control-V_13_tbh3nt.png);
    }
    60% {
        background-image: url(https://res.cloudinary.com/dn0jgzymu/image/upload/v1710596584/Dragon%20Repeller%20%20game/Control-V_15_m88jm9.png);
    }
    80% {
        background-image: url(https://res.cloudinary.com/dn0jgzymu/image/upload/v1710596586/Dragon%20Repeller%20%20game/Control-V_14_wbw5uj.png);
    }
    100% {
        background-image: url(https://res.cloudinary.com/dn0jgzymu/image/upload/v1710596568/Dragon%20Repeller%20%20game/Control-V_11_ywkl1b.png);
    }
}



  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 800px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }